<!DOCTYPE html>
<html>

<head>

<title>BridgeSkill</title>

<link rel="stylesheet" href="/static/style.css">

<script src="/static/script.js" defer></script>

</head>

<body>

<div class="navbar">

<div class="logo">BridgeSkill</div>

<div class="nav-links">
<a href="/login">Login</a>
<a href="/signup">Join</a>
</div>

</div>


<section class="hero">

<div class="hero-text">

<h1>Where Experience Meets Ambition</h1>

<p>
BridgeSkill connects students with industry mentors to guide their career journey.
</p>

<div class="hero-buttons">

<a class="btn-primary" href="/signup">Get Started</a>

<a class="btn-secondary" href="/login">Login</a>

</div>

</div>

<img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f">

</section>

</body>

</html>