<!DOCTYPE html>
<html>

<head>

<title>Signup</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="form-container">

<h2>Create Account</h2>

<form method="POST">

<input name="name" placeholder="Name">

<input name="email" placeholder="Email">

<input type="password" name="password" placeholder="Password">

<select name="role">

<option value="student">Student</option>
<option value="mentor">Mentor</option>

</select>

<button type="submit">Signup</button>

</form>

</div>

</body>

</html>